<!doctype html>
<html lang="en">

<head>
  <title>Financial News | YourFinancialIntel</title>
  <title><%= title %></title>
  <!-- Latest compiled and minified CSS -->


  <!--SAM 07/01/17 Changed the link below to double quotes after upgrading
      AWS EC2/Beanstalk instance and single quotes preventing css from being used. -->
  <link rel="stylesheet" href="/stylesheets/styles.css" />

  <link href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!--	<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script> -->

  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
  <!-- <script src="bundle.js"></script> -->
  <script src="//platform.twitter.com/widgets.js"></script>

  <!-- <script src="/javascripts/TweetList.js"></script> -->
  <!-- script from Google ads -->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-84815894-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- widgets script -->
  <!-- had widgets script here now in saving file -->
  <!-- trying to see if I can load using masonry -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <!-- the root element of the view assigned to the TweetList javascript controller-->


  <nav style="background-color: #C70039" class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#">YourFinancialIntel</a>
    </div>
  </nav>

  <div class="container-pic">

  </div>
  <div class="container-grid">

    <section>
      <% let count = 0; let breakOn=Math.floor((tweets.length)/4); let remainder=tweets.length%4 %>
      <% let firstBreak = (remainder > 0 ? breakOn + 1 : breakOn); %>
      <% let secondBreak = (remainder > 1 ? breakOn*2+2 : firstBreak+breakOn); %>
      <% let thirdBreak = (remainder > 1 ? breakOn*3+3 : secondBreak+breakOn); %>
      <% tweets.forEach(function(tweet) { %>
      <% count++; %>
      <%  if ((count === firstBreak) || (count === secondBreak) || (count === thirdBreak))  { %>
    </section>
    <section>
      <% } %>
      <%- tweet.oEmbed.html %>
      <%  }); %>
    </section>

  </div>

</body>

</html>